*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(./img/cor.jpg);
}main{
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    position: absolute;
    text-align: center;
    left: 150px;
}
main h1{
    text-align: center;
    font-size: 75px;

}
main table, td{
    text-align: center;
    vertical-align: middle;
    padding: 5PX;

}
div img{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 10px;
}
table th, thead, td{
    color: black;
    text-align: center;

}
thead{
    background-color: rgb(203, 203, 243)
}
td{
    background-color: #dcb8e4;
}
table{
    border: 5px;
}
menu a{
    padding: 10px;
    text-decoration: none;
    color: white    ;
    
}
header{
    background-color: #91398b;
}
header, h1{
    padding: 10px;
    text-align: center;
}
menu{
    display: none;
}
menu, ul{
    list-style-type: none;
}
menu, a{
    padding: 20px;
    background-color: #702c6c;
}
menu li{
    padding-top: 10px;
}
   
menu, ul, li, a:hover{
    background-color: #c444bb;
}
span{
    color: white;   
    cursor: pointer;
}
span:hover{
    background-color: black;
}
header, h1{
    color: white;
}